@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: #FDF6EA !important;
    background-color: black !important;
  }
  
  .nav-link {
    color: white !important;
  }
  
  #logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }
  
  #home-container {
    margin-top: 25px;
  }
  
  .jumbotron {
    background-image: asset-url('background2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
  }
  
  
  html, body {
    height: 100%;
    background-color: lightgrey;
    
  }
  
  #page-content{
    flex: 1 0 auto;
    background-color: lightgrey;
  }


  #sticky-footer {
    flex-shrink: 0;
  } 


  .card{
    justify-content: center;
  }
  .card_container{
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 50%;
      text-align: center;
      box-shadow: 10px 10px 5px grey;
      justify-content: center;
  }


  #users_card{
    margin: 20px;
  }
  h1{
      text-shadow: 2px 2px 1px grey;
      text-align: center;
      margin-top: 10px;
  }

#new_article_link{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#form-description {
    rows: 30;
}

.alert {
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 50%;
}

.apple_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span, .apple_pagination em {
    padding: 0.2em 0.5em;
    border-radius: 5px;
   }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #1a8bcc; }
  .apple_pagination a {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    text-decoration: none; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      border-color: gray;
      background: whitesmoke;
      color: gray; }
  .apple_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .apple_pagination .previous_page, .apple_pagination .next_page {
    border-width: 2px; }
  .apple_pagination .previous_page {
    margin-right: 1em; }
  .apple_pagination .next_page {
    margin-left: 1em; }

#user_container{
  justify-content: center;
}